{% extends 'base.html.twig' %}


{% block headerContact %} 
    <div class="utility-bar bg--secondary">
        <div class="nav-module left">
            <span class="type--fine-print">Web Design & Development Melbourne</span>
        </div>
        <div class="nav-module left">
            <span class="type--fine-print">(03) 9282 7732</span>
        </div>
        <div class="nav-module right hidden-xs">
            {% embed 'include/social-list.html.twig' %}{% endembed %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="map-1">
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3433079225465!2d144.96921835136214!3d-37.80542694124096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642d07ac4a17f%3A0xf04567605324710!2sCarlton+Gardens!5e0!3m2!1sen!2sau!4v1456697514666"></iframe>
        </div>
    </section>
    <section class="section--overlap">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="feature boxed feature-1">
                        <i class="icon icon--lg icon-Map-Marker2"></i>
                        <h4>Drop on in</h4>
                        <p>
                            Suite 203, Level 4
                            <br /> 124 Koornang Road
                            <br /> Carnegie, Victoria 3183
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="feature boxed feature-1">
                        <i class="icon icon--lg icon-Phone-2"></i>
                        <h4>Give us a call</h4>
                        <p>
                            Office: (03) 9283 2617
                            <br /> Fax: +61 3827 3590
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="feature boxed feature-1">
                        <i class="icon icon--lg icon-Computer"></i>
                        <h4>Connect online</h4>
                        <p>
                            Email:
                            <a href="#">hello@pillarstudio.net</a>
                            <br /> Twitter:
                            <a href="#">@pillarstudio</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form class="form--square form-email" data-success="Thanks for your enquiry, we'll be in touch soon" data-error="Please fill all required fields">
                        <h4 class="text-center">Or reach us right here&hellip;</h4>
                        <div class="input-with-icon col-sm-12">
                            <i class="icon-MaleFemale"></i>
                            <input class="validate-required" type="text" name="name" placeholder="Your Name" />
                        </div>
                        <div class="input-with-icon col-sm-6">
                            <i class="icon-Email"></i>
                            <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address" />
                        </div>
                        <div class="input-with-icon col-sm-6">
                            <i class="icon-Phone-2"></i>
                            <input type="tel" name="telephone" placeholder="Phone Number" />
                        </div>
                        <div class="col-sm-12">
                            <textarea class="validate-required" name="message" placeholder="Your Message" rows="8"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn--primary">
                                Submit Form
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% endblock %}