{% extends 'base.html.twig' %}


{% block headerContact %} 
    <div class="utility-bar bg--secondary">
        <div class="nav-module left">
            <span class="type--fine-print">Web Design & Development Melbourne</span>
        </div>
        <div class="nav-module left">
            <span class="type--fine-print">(03) 9282 7732</span>
        </div>
        <div class="nav-module right hidden-xs">
            {% embed 'include/social-list.html.twig' %}{% endembed %}
        </div>
    </div>
{% endblock %}

{% block content %}

            <section class="height-40">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3>Results for:
                                <span>&ldquo;Design&rdquo;</span>
                            </h3>
                            <span>
                                <em>6 results found mentioning</em> &ldquo;Design&rdquo;</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="masonry">
                            <div class="masonry__container">
                                <div class="col-sm-4 masonry__item">
                                    <a href="#">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Post</span>
                                            <h5>Web Design Tips</h5>
                                            <hr>
                                            <p>
                                                Series A financing leverage beta bandwidth. Scrum project crowdfunding user experience seed money branding focus&hellip;
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <a href="#">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Page</span>
                                            <h5>Our Services</h5>
                                            <hr>
                                            <p>
                                                Scrum project crowdfunding user experience seed money branding focus&hellip;
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <a href="#">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Post</span>
                                            <h5>Popular Design Trends 2016</h5>
                                            <hr>
                                            <p>
                                                A/B testing success branding research & development. Product management validation funding technology partnership &hellip;
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <a href="#">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Page</span>
                                            <h5>About Company</h5>
                                            <hr>
                                            <p>
                                                Vesting period strategy paradigm shift termsheet. Termsheet long tail network effects. Seed money return&hellip;
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <a href="#">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Post</span>
                                            <h5>Flexbox Tips</h5>
                                            <hr>
                                            <p>
                                                Launch party buyer ecosystem crowdsource beta burn rate ramen branding learning curve.&hellip;
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <a href="#">
                                        <div class="boxed bg--white box-shadow">
                                            <span>Post</span>
                                            <h5>We switched to Sketch</h5>
                                            <hr>
                                            <p>
                                                Series A financing leverage beta bandwidth. Scrum project crowdfunding user experience seed money branding focus&hellip;
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--end of masonry container-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--even bg--white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4>Didn't find what you were looking for?</h4>
                            <a class="btn btn--primary modal-trigger" href="#" data-modal-id="search-form">
                                <span class="btn__text">
                                    New Search Query
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
{% endblock %}