    <div class="utility-bar bg--secondary">
        <div class="nav-module left">
            <span class="type--fine-print">Web Design & Development Melbourne</span>
        </div>
        <div class="nav-module left">
            <span class="type--fine-print">(03) 9282 7732</span>
        </div>
        <div class="nav-module right hidden-xs">
            {% embed 'template/social-list.html.twig' %}{% endembed %}
        </div>
    </div>