                <ul class="social-list">
                    <li>
                        <a href="#">
                            <i class="socicon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon-vimeo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon-spotify"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon-behance"></i>
                        </a>
                    </li>
                </ul>